@model IEnumerable<AccommodationViewModel>

<h2>Property view</h2>
@foreach (var item in @Model)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="@item.PhotoUri?.ToString()" alt="accommodation photo" width="400" height="300"/>
                <div>
                    <a asp-controller="Accommodation" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                </div>
            </div>
        </div>
    </div>
}