@model PropertySearchApp.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4>Change password</h4>

        @if (TempData["alert-danger"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["alert-danger"]
            </div>
        }
        else if (TempData["alert-success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["alert-success"]
            </div>
        }

        <form method="post" asp-controller="Identity" asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" required class="form-control" placeholder="Enter current password"/>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" required class="form-control" placeholder="Enter new password"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" required class="form-control" placeholder="Confirm new password"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group mt-1">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mt-0" data-bs-toggle="modal" data-bs-target="#changeModal">
                    Change password
                </button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to home</a>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="changeModalLabel">Change password</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            You are trying to change your password
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
