@model UserDetailsViewModel

@{
    ViewData["Title"] = "Identity Details";
}

<h1>Profile data</h1>
<div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" asp-for="UserName" readonly>
</div>

<div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" asp-for="Email" readonly>
    <span class="small text-secondary">Email address to contact</span>
</div>