@using System.Security.Claims;
@using PropertySearchApp.Models.Contacts
@using PropertySearchApp.Models.Identities;
@model UserViewModel

@{
    ViewData["Title"] = "Identity Details";
}
@{
    string? userIdFromRoute = string.Empty;
    if (ViewContext.RouteData.Values["id"] != null)
    {
        userIdFromRoute = ViewContext.RouteData.Values["id"]?.ToString();
    }
}
@{
    string? currentUserId = User?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div class="card login-logout-tab">
    <div class="card-header">
        <h5 class="card-header-text">Profile data</h5>
    </div>
    <div class="card-content">
        @if (TempData["alert-danger"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["alert-danger"]
            </div>
        }
        else if (TempData["alert-success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["alert-success"]
            </div>
        }

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" asp-for="UserName" readonly>
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" asp-for="Email" readonly>
            @if (userIdFromRoute == currentUserId)
            {
                <!--TODO-->
                <!--<a class="small text-secondary" asp-controller="Identity" asp-action="">Change email address</a>-->
            }
        </div>

        <div class="form-group">
            <label>Additional Information</label>
            <textarea type="text" class="form-control" asp-for="Information" readonly rows="8"></textarea>
        </div>

        <ul style="list-style: none" class="p-0">
            @foreach (var item in Model.Contacts ?? new List<ContactViewModel>())
            {
                <li>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact type</label>
                                <input type="text" class="form-control" readonly value="@item.ContactType">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact info</label>
                                <input type="text" class="form-control" value="@item.Content" readonly>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>

        @if (userIdFromRoute == currentUserId)
        {
            <a class="btn btn-primary" asp-controller="Identity" asp-action="Edit" style="min-width:100px">Edit</a>
        }
    </div>
</div>