@model LoginViewModel
@{
    ViewData["Title"] = "Login page";
    Layout = "~/Views/Identity/_IdentityLayout.cshtml";
}

<form method="post" asp-action="Login" asp-controller="Identity">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <div class="d-flex">
        <i class='bx bxs-user-account'></i>
        <input type="text" required class="form-control" id="inputUsername" placeholder="Enter username" asp-for="Username">
    </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your personal data with anyone else.</small>
    <span asp-validation-for="Username" class="text-danger"></span>
</div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <div class="d-flex">
        <i class='bx bx-lock-open-alt' ></i>
        <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password"
            required asp-for=Password>
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
  <div asp-validation-summary="ModelOnly" class="text-danger asp-errors"></div>

  <button type="submit" class="btn btn-primary float-end">Submit</button>
</form>