@model RegistrationFormViewModel
@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Identity/_IdentityLayout.cshtml";
}

<form method="post" asp-controller="Identity" asp-action="Register">    
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <div class="d-flex">
            <i class='bx bx-user-plus'></i>
            <input type="text" required class="form-control" id="inputUsername" placeholder="Enter Username" asp-for="Username">
        </div>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <div class="d-flex">
            <i class='bx bx-envelope'></i>
            <input type="email" required class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" asp-for="Email">
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <div class="d-flex">
                    <i class='bx bx-key'></i>
                    <input type="password" required class="form-control" id="inputPassword"
                           placeholder="Enter Password" asp-for="Password" pattern=".{6,}" title="6 characters minimum">
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="repeatPassword">Repeat Password</label>
                <div class="d-flex">
                    <i class='bx bx-lock-open-alt'></i>
                    <input type="password" required class="form-control" id="repeatPassword"
                           placeholder="Repeat Password" asp-for="ConfirmPassword" pattern=".{6,}" title="6 characters minimum">
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-check d-flex">
        <input class="form-check-input me-2" type="checkbox" id="termsCheckInput" asp-for="IsLandlord"/>
        <label class="form-check-label" for="termsCheckInput" asp-for="IsLandlord">
            I am a landlord
        </label>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger asp-errors"></div>

    <button type="submit" class="btn btn-primary float-end">Register</button>
</form>