@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>

<body>

    <div class="row">
        <div class="col-md-6 mt-3">
            
            <h3>1.<em> Information We Collect</em></h3>
            <p>We collect information from you when you fill out a registration form. The information we collect may include your name, email address and phone number. We may also collect non-personal information such as your IP address and browser type.</p>

        </div>

        <div class="col">
            <center><img src="~/images/private.png" width="250" height="250" class="center" /></center>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col md-4">
            <h3>2. <em>Who on our team has access</em></h3>
            <p>Members of our web development team have access to the information you provide us. For example, administrators can access order information like what was purchased and when it was purchased, and Customer information like your name, email address, and additional optional information. Our administrators have access to this information to help fulfill orders and provide you with support.</p>

        </div>

        <div class="col md-4">
            <h3>3. <em>How We Protect Your Information</em></h3>
            <p>We take appropriate security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. We use a variety of security technologies and procedures to help protect your personal information from unauthorized access, use, or disclosure.</p>

        </div>

        <div class="col md-4">
            <h3>4. <em>How long we retain your data</em></h3>
            <p>For users that register on our website, we store the personal information they provide during checkout when purchasing a product and in their user profile. All users can see, edit, or delete their personal information at any time. Website administrators can also see and edit that information.</p>

        </div>


    </div>

    <div class="row mt-3">
        <div class="col md-4">
            <h3>5. <em>Cookies</em></h3>
            <p>We use cookies to enhance your experience on our website. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.</p>

        </div>

        <div class="col md-4">
            <h3>6. <em>Payments</em></h3>
            <p>We accept payments through Stripe and PayPal. When processing payments, some of your data will be passed to Stripe or PayPal, including information required to process or support the payment, such as the purchase total and billing information.</p>

        </div>
    </div>
    
</body>
