html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
}
body nav {
    padding-left: 15px; 
    padding-right: 15px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 1 auto;
}

form *{
    padding-top: 2px;
}

a.go-back {
    margin-right: 5px;
}
form button, form a.go-back {
    margin-top: 5px;
    min-width: 120px;
}

i {
    font-size: 24px;
}
.d-flex i {
    font-size: 28px;
    position: relative;
    top: 2px;

    margin-right: 3px;
}

/* Fot tab control */
div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

ul.card-header-tabs a.nav-link {
    font-size: 22px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/* login form */
div.login-form-icon {
    text-align: center;
}

.asp-errors *{
    padding-left: 0px;
    list-style: none;
}

ul li.logout form button {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 3px;
    font-size: var(--bs-body-font-size);
}

ul li p.username {
    padding: 0px;
    margin: 3px;
    font-size: var(--bs-body-font-size);
}

ul.nav li.d-flex i {
    position: relative;
    top: 1px;

    margin-right: 0px;
}

body .wrapper footer {
    position: relative !important;
    top: 60px;
}

/* Cards */
.card.accommodation:hover {
    transform: scale(1.10);
    transition-duration: 500ms;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card .card-body .price {
    display: inline;
    color: crimson;
}
.bx-purchase-tag {
    position: relative;
    top: 4px;
}

/* Image wrapper */
.image-wrapper {
    border: 4px solid dodgerblue;
    border-radius: 15px;
    padding: 0px;
}
.image-wrapper img {
    width: 100%;
    border-radius: 10px;
}
.image-wrapper img:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
}

/* Text styles */
.text-gray {
    color: gray;
}

/* add-accommodation */
.add-accommodation {
    margin-left: 12px;
}
.add-accommodation i {
    position: relative;
    top: 2px;
}
.add-accommodation span {
    position: relative;
    bottom: 2px;
}

/* Add accommodation form */
.add-accommodation-header {
    position: relative;
    top: 9px;
    left: 20px;
}