html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
}

form *{
    padding-top: 2px;
}

form button {
    margin-top: 5px;
    min-width: 120px;
}

i {
    font-size: 24px;
}
.d-flex i {
    font-size: 28px;
    position: relative;
    top: 2px;

    margin-right: 3px;
}

/* Fot tab control */
div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

ul.card-header-tabs a.nav-link {
    font-size: 22px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/* login form */
div.login-form-icon {
    text-align: center;
}

.asp-errors *{
    padding-left: 0px;
    list-style: none;
}

ul li.logout form button {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 3px;
    font-size: var(--bs-body-font-size);
}

ul li p.username {
    padding: 0px;
    margin: 3px;
    font-size: var(--bs-body-font-size);
}

ul.nav li.d-flex i {
    position: relative;
    top: 1px;

    margin-right: 0px;
}