@{
    ViewData["Title"] = "Contact us";
}

<!DOCTYPE html>
<html>
<head>
    <title>Contact us</title>
    <link rel="stylesheet" href="~/css/Contacts.css" />
</head>
<body>
    <section class="contact-page-section">
        <div class="container">
            <div class="sec-title">
                <div class="title">Contact Us</div>
                <h2>Let's Get in Touch.</h2>
            </div>
            <div class="inner-container">
                <div class="row clearfix">

                    <!--Form Column-->
                    <div class="form-column col-md-8 col-sm-12 col-xs-12">
                        <div class="inner-column">

                            <!--Contact Form-->
                            <div class="contact-form">
                                <form method="post" action="sendemail.php" id="contact-form">
                                    <div class="row clearfix">
                                        <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                            <input type="text" name="name" value="" placeholder="Name" required>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                            <input type="email" name="email" value="" placeholder="Email" required>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                            <input type="text" name="subject" value="" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                            <input type="text" name="phone" value="" placeholder="Phone" required>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                            <textarea name="message" placeholder="Massage"></textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                            <button type="submit" class="theme-btn btn-style-one">Send Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--End Contact Form-->

                        </div>
                    </div>

                    <!--Info Column-->
                    <div class="info-column col-md-4 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <h2>Contact Info</h2>
                            <ul class="list-info">
                                <li><i class="fas fa-globe"></i>Nauky Ave. 14, Kharkiv, 61166, Ukraine</li>
                                <li>
                                    <i class="far fa-envelope"></i>
                                    <span>
                                        vitalii.bezuhlyi@nure.ua 
                                    </span>
                                    <br />
                                    <span>
                                        illia.ivasenko@nure.ua 
                                    </span>
                                    <br />
                                    <span>
                                        viacheslav.zalitskyi@nure.ua 
                                    </span>
                                    <br />
                                    <span>
                                        dmytro.herasymchuk@nure.ua 
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-phone"></i>
                                    050-301-23-89 
                                    <br> 
                                    095-893-12-74
                                 </li>
                            </ul>
                            <ul class="social-icon-four">
                                <li class="follow">Follow on: </li>
                                <li><a href="https://github.com/VitaliyMinaev/PropertySearch" target="_blank"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>
