@{
    ViewData["Title"] = "Home Page";
}

<div class="container home">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h1 style="font-weight:900">
                Your comfort is our goal
            </h1>
            <br />
            <p class="text-gray">
                The Home Rental Offer Web Application is a useful tool for anyone looking to create and manage their home rental offers.
            </p>

            <p class="text-gray">
                Looking for a place to rent or have a property to offer? Our app makes it easy for you to connect with others and find the perfect rental match.
            </p>

            <p class="text-gray">
                Whether you're looking for a new home or need to fill a vacancy, our platform allows you to post and view rental offers from people all around the world. With user-friendly features and intuitive navigation, finding the right property has never been easier. Join our community today and start renting with ease!
            </p>

            <div class="custom-btn">
                <form method="get" asp-controller="Identity" asp-action="Register">
                    <button>Start for free</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 mt-3">
        </div>
    </div>
    <!--
        <div class="card">
               <div class="card-body">
                    <div class="card-img">
                        <img src="~/images/property.jpg" width="100%" height="100%" />
                    </div>
               </div>
            </div>
    -->
    <div class="row mt-3">
        <div class="col-md-6">
            <div>WAYS TO SUPPORT</div>
            <h2 style="font-weight:bold">Support Acme Outdoors.</h2>
        </div>
        <div class="col-md-6">
            <p class="text-gray">COVID-19 has forced us to close our retail space, but we need support from patrons like yourself now more than ever. Below, we’ve listed the best ways to help us through this season.</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">01</div>
                    <div class="support-square-text">SHOP<br>PRODUCTS</div>
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57a5836db2a07bab0e3_Circle.svg" alt="Circle Decoration in Shop Products Block" class="support-square-image">
                </div>
                <p>Our full product line is still available online here on our site! Getting outside and hiking is still something you can do. Get your gear now!</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">02</div>
                    <div class="support-square-text">DONATE</div>
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57adc54453434efb9ee_Triangle.svg" alt="Triangle Decoration in Donate Block" class="support-square-image triangle">
                </div>
                <p>Our full product line is still available online here on our site! Getting outside and hiking is still something you can do. Get your gear now!</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">03</div>
                    <div class="support-square-text">Buy <br>GIFT CARDS</div>
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57afea9a31a44d66db0_Rectangle.svg" alt="Rectangle Decoration in Buy Gift Cards Block" class="support-square-image rectangle">
                </div>
                <p>Have all the outdoor gear you need for now?&nbsp;Buy a gift card and use it later or share it with friends and family. </p>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
            <div style="text-align:left">
                <h2 style="font-weight:bold">How we're keeping you safe during COVID-19</h2>
            </div>
            <p class="safe-paragraph">As an outdoor shop, we’ve taken precautionary measures to ensure the safety of all our customers and team members.</p>
            <div class="custom-btn">
                <form method="get" asp-controller="Identity" asp-action="Register">
                    <button style="min-width: 190px">Read our statement</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="support-top-details-text">shop products</div>
            <h2 class="support-top-heading" style="font-weight:bold">Open 24/7/365.</h2>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
