@{
    ViewData["Title"] = "Home Page";
}

<div class="container home">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h1 style="font-weight:900">
                Your comfort is our goal
            </h1>
            <br />
            <p class="text-gray">
                The Home Rental Offer Web Application is a useful tool for anyone looking to create and manage their home rental offers.
            </p>

            <p class="text-gray">
                Looking for a place to rent or have a property to offer? Our app makes it easy for you to connect with others and find the perfect rental match.
            </p>

            <p class="text-gray">
                Our property search application simplifies the process of finding the perfect property by providing users with a comprehensive database of available listings, intuitive search filters, and personalized recommendations, ultimately making the journey to homeownership more efficient and enjoyable
            </p>

            <div class="custom-btn">
                <form method="get" asp-controller="Identity" asp-action="Register">
                    <button>Start for free</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 mt-3">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div>WAYS TO START</div>
            <h2 style="font-weight:bold">Register a new account</h2>
        </div>
        <div class="col-md-6">
            <p>
                Whether you're looking for a new home or need to fill a vacancy, our platform allows you to post and view rental offers from people all around the world. With user-friendly features and intuitive navigation, finding the right property has never been easier. Join our community today and start renting with ease!
            </p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">01</div>
                    <div class="support-square-text">Convenience</div>
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57a5836db2a07bab0e3_Circle.svg" alt="Circle Decoration in Shop Products Block" class="support-square-image">
                </div>
                <p>Using a property search app allows users to search for homes on their own schedule, without having to coordinate with a real estate agent or constantly monitor listings on their own. With a property search app, users can easily browse listings and set up alerts to be notified of new properties that match their criteria.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">02</div>
                    <div class="support-square-text">Information</div>
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57adc54453434efb9ee_Triangle.svg" alt="Triangle Decoration in Donate Block" class="support-square-image triangle">
                </div>
                <p>Property search apps provide users with access to a vast amount of information about properties, including photos, virtual tours, floor plans, property history, and neighborhood information. This information is often not readily available to those who are not working with a real estate agent or who are simply searching on their own.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">03</div>
                    <div class="support-square-text">Efficiency</div>
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57afea9a31a44d66db0_Rectangle.svg" alt="Rectangle Decoration in Buy Gift Cards Block" class="support-square-image rectangle">
                </div>
                <p>Property search apps can help users save time and streamline the home search process. With features like advanced search filters, interactive maps, and the ability to save favorite properties, users can quickly identify properties that meet their criteria and keep track of properties they are interested in. This can help users avoid the frustration of sifting through irrelevant listings and make the home search process more efficient and enjoyable.</p>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
            <div style="text-align:left">
                <h2 style="font-weight:bold">Browse available housing</h2>
            </div>
            <p>Contact landlords and find out the details that interest you.</p>
            <div class="custom-btn">
                <form method="get" asp-controller="Accommodation" asp-action="Index">
                    <button style="min-width: 230px">View accommodations</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div class="support-top-details-text">view</div>
            <h2 class="support-top-heading" style="font-weight:bold">Open 24/7/365.</h2>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
