

<div class="strike">
    <span style="font-size:35pt">Meet Our Team</span>
</div>

<div class="container">
    <div class="row text-center">

        
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="~/images/Team/Vitaly.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Vitaly</h5><span class="small text-uppercase text-muted">Project Mastermind</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://t.me/MegaMozg96"><i style="color:black" class="fab fa-telegram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i style="color:black" class="fab fa-wpforms"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/VitaliyMinaev"><i style="color:black" class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="~/images/Team/Illia.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Illia</h5><span class="small text-uppercase text-muted">DbContext Manager</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href=""><i style="color:black" class="fab fa-telegram"></i></a></li>
                    <li class="list-inline-item"><a href=""><i style="color:black" class="fab fa-wpforms"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/Brannmarkt"><i style="color:black" class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="~/images/Team/Slavon.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Vyacheslav</h5><span class="small text-uppercase text-muted">Mr PK</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href=""><i style="color:black" class="fab fa-telegram"></i></a></li>
                    <li class="list-inline-item"><a href=""><i style="color:black" class="fab fa-wpforms"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/Alzgaymer"><i style="color:black" class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="~/images/Team/Pesdyk.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Dmytro</h5><span class="small text-uppercase text-muted">Co-founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href=""><i style="color:black" class="fab fa-telegram"></i></a></li>
                    <li class="list-inline-item"><a href=""><i style="color:black" class="fab fa-wpforms"></i></a></li>
                    <li class="list-inline-item"><a href=""><i style="color:black" class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>