@{
    ViewData["Title"] = "Team";
}

<div class="container mt-4">
    <div class="row text-center">
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="~/images/Team/Vitaly.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Vitalii</h5><span class="small text-uppercase text-muted">Project Mastermind</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://t.me/MegaMozg96" target="_blank"><i class="fab fa-telegram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:vitalii.bezuhlyi@nure.ua"><i class='bx bxl-gmail' style="color:crimson"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/VitaliyMinaev" target="_blank"><i class="fab fa-github" style="color:black"></i></a>
                   </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="~/images/Team/Illia.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Illia</h5><span class="small text-uppercase text-muted">DbContext Manager</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://t.me/Lymoncello" target="_blank"><i class="fab fa-telegram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:illia.ivasenko@nure.ua"><i class='bx bxl-gmail' style="color:crimson"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/Brannmarkt" target="_blank"><i class="fab fa-github" style="color:black"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="~/images/Team/Slavon.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Vyacheslav</h5><span class="small text-uppercase text-muted">Mr PK</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://t.me/Vchslv0" target="_blank"><i class="fab fa-telegram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:viacheslav.zalitskyi@nure.ua"><i class='bx bxl-gmail' style="color:crimson"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/Alzgaymer" target="_blank"><i class="fab fa-github" style="color:black"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="~/images/Team/Pesdyk.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Dmytro</h5><span class="small text-uppercase text-muted">Co-founder</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://t.me/chelikqq" target="_blank"><i class="fab fa-telegram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:dmytro.herasymchuk@nure.ua"><i class='bx bxl-gmail' style="color:crimson"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/DmytroHerasymchuk" target="_blank"><i class="fab fa-github" style="color:black"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>