@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PropertySearch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PropertySearchApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StaticFiles/_Layout.css" asp-append-version="true" />
    
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="wrapper" id="wrapper">
        <header class="header">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="nav">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PropertySearchApp</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            @if (User?.Identity?.IsAuthenticated == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Accommodation" asp-action="Index">Accommodations</a>
                                </li>
                            }
                        </ul>

                        @if (User?.Identity?.IsAuthenticated == false)
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Register">Register</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item d-flex">
                                    <div class="dropdown">
                                        <button class="bg-transparent" style="border: 0px solid white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img class="img-margin" height="30" width="30" src="/images/user-icon.png">
                                            <span class="text fs-6">@User?.FindFirst(ClaimTypes.Name)?.Value</span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item mt-1" asp-controller="Identity" asp-action="Details" asp-route-id="@User?.FindFirst(ClaimTypes.NameIdentifier)?.Value" style="text-decoration:none;">
                                                <span>Profile Details</span>
                                            </a>

                                            <form class="dropdown-item" method="post" asp-controller="Identity" asp-action="Logout">
                                                <button type="submit" class="bg-transparent" style="border: 0px solid white">
                                                    <span>Logout</span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </nav>
        </header>
        <div class="container container-main" id="container">
            <main role="main" class="pb-3" id="main">
                @RenderBody()
            </main>
        </div>
        <br/>
        <br/>
        <footer class="footer" id="footer">
            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
                <div class="wave" id="wave4"></div>
            </div>
            <ul class="social-icon">
                <li class="social-icon__item">
                    <a class="social-icon__link" href="#">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a class="social-icon__link" href="#">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a class="social-icon__link" href="#">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a class="social-icon__link" href="#">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
            </ul>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="#">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">About</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Services</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Team</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Contact</a>
                </li>

            </ul>
            <p>&copy;2023 Property Search | All Rights Reserved</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        $(this).removeAttr('b-zwsb4mn8lm');
        document.getElementById('nav').removeAttribute('b-zwsb4mn8lm')
        document.getElementById('wrapper').removeAttribute('b-zwsb4mn8lm')
        document.getElementById('main').removeAttribute('b-zwsb4mn8lm')
        document.getElementById('container').removeAttribute('b-zwsb4mn8lm')
    </script>
</body>
</html>
