@{
    ViewBag.Title = "Page not found";
}

<div class="container text-center">
    <div class="error-body">
        <h1 class="error-header">
            404
        </h1>
        <br />

        <p>
            Sorry, we could not find this page. But don't worry you can find pretty of other things on out
            <a asp-controller="Home" asp-action="Index" class="home-page-link">Home page</a>
        </p>
    </div>
</div>